<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h2>
			  <%= @post.title %>
			</h2>

			<p>
			  by <%= @post.user.username %>
			</p>

			<p>
				posted on <%= local_time(@post.created_at, "%m/%d/%Y at %l:%M%P") %>
			</p>

			<p>
			  <%= @post.blog_entry.html_safe %>
			</p>

			<% if current_user.id == @post.user_id %>
				<p>
					<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-danger" %>
				</p>
			<% end %>
		</div>

		<div id="comments" class="well">
			<h3>Comments</h3>

			<p>
				<%= render 'comments/form', comment: @comment %>
			</p>

			<% @post.comments.each do |comment| %>
				<p>
					<strong><%= link_to comment.user.username, user_posts_path(name: comment.user.username) %> said...</strong><br />
					<%= comment.comment_entry.html_safe %>
				</p>
			<% end %>

		</div>
	</div>
</div>
